%h1
  タイムテーブル

- rooms = Room.all
- locale = 'en'
- days.each do |date|
  %h2
    = date.strftime('%Y年%m月%d日')
  
  %table.timetable
    %thead
      %tr
        %th
        - rooms.each do |room|
          - room_timetable = room_timetable_at(date, room.room_id)

          %th
            = room.name[locale]
        
    %tbody
      - periods_on(date).each_cons(2) do |s, e|
        %tr
          %td
            = [s, e].map {|t| t.strftime("%H:%M") }.join('|')
          - sessions = rooms.map {|room|
          -   room_timetable_at(date, room.room_id).session_at(s)
          - }
          - sessions.each_with_index do |session, index|
            - next if index != 0 && sessions[index - 1] == session
            - count = sessions.select {|ses| ses == session }.count
            %td{:colspan => count}
              - if !session || session.empty?
                = '-'
              - else
                - session.events.each do |event|
                  = (event.title || {})[locale]
                  = (event.name || {})[locale]
                  = (event.affilization || {})[locale]
                  %br
