%h1
  タイムテーブル

- days.each do |date|
  %h2
    = date.strftime('%Y年%m月%d日')
  
  %table.timetable
    %thead
      %tr
        %th
        - room_timetables_on(date).each do |room_timetable|
          %th
            = room_timetable.room
        
    %tbody
      - periods_on(date).each_cons(2) do |s, e|
        %tr
          %td
            = [s, e].map {|t| t.strftime("%H:%M") }.join('|')
          - room_timetables_on(date).map {|r| r.session_at(s) }.each do |session|
            %td
              - if !session || session.empty?
                = '-'
              - else
                - session.talks.each do |talk|
                  = talk.title['en']
                  %br
                  = talk.name['en']
                  %br
                  = talk.affilization['en']
                - session.special_events.each do |event|
                  = event.name

