- @title = t(:advent_calendar)
- content_for :head do
  %link{:href => "/2011/stylesheets/advent.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:rel => "alternate", :type => "application/rss+xml", :title => @title, :href => advent_calendar_index_path(params[:year], current_locale, :rss)}

#content
  %h1
    #{@title}
  %article
    #other_formats
      = link_to "iCal", advent_calendar_index_url(params[:year], current_locale, :ics, :protocol => "webcal")
      = link_to "JSON", advent_calendar_index_path(params[:year], current_locale, :json), :target => "_blank"
      = link_to "RSS",  advent_calendar_index_path(params[:year], current_locale, :rss), :target => "_blank"

    #advent_events
      - AdventEvent.by_month.each do |month, events|
        %h2= l month, :format => :month
        %ul
          - events.each do |event|
            %li{:id => event.id, :class => event.today? ? "todays_event" : ""}
              .summary
                %span{:style => 'font-size:12px;'}= link_to "■", "##{event.id}"
                #{event.name}
              .time #{l(event.dtstart, :format => :advent_cal)} 〜 #{l(event.dtend, :format => :advent_cal)}
              .location!= event.location
              .url
                - if event.url.present?
                  != auto_link event.url
                - else
                  (To Be Announced)
              .hosted_by
                = (event.hosted_by.present? ? " Hosted By: #{event.hosted_by}" : '')
  != render :partial => "shared/2011/back_to_top"
  != render "about.#{I18n.locale}"
