%p.btn
  - if item.now_on_sale?
    != form_tag(add_item_carts_path(:locale => params[:locale])) do
      - btnimg_fname = (item.individual_sponsor? ? "sponsorsBtnBecomeAIndividualSponsor" : "registrationBtnTickets")
      != hidden_field_tag :product_item_code, item.item_code
      != image_submit_tag("/2011/images/#{btnimg_fname}.png")
  - else
    %span{:style => 'font-size: 24px;font-weight:bold'}
      - if item.sold_out?
        [Sold Out]
      - else
        [In Preparation]
    - unless item.sold_out?
      <br style="line-height:2" />
      (it will open at #{item.open_sale_at.to_s(:short)} JST)
