- @title = t(:schedule)
- content_for :head do
  %link{:href => "/2011/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
#content
  - cache do
    %h1
      #{t(:schedule)}
    %p
    - @timetable.days.each do |date|
      %div
        %h2
          %time{:datetime => date.strftime('%Y-%m-%d')}
            = l date, :format => :schedule_grid
        %table
          %colgroup.hours
          %colgroup.hall
          %colgroup.hall
          %tr
            %th= t :time_span
            - @rooms.each do |room|
              %th
                = room.localize(I18n.locale, :name)
          - @timetable.periods_on(date).each_cons(2) do |s, e|
            %tr
              %td
                = [s, e].map {|t| t.strftime("%H:%M") }.join(' - ')
              - rk_sessions = @rooms.map {|room| @timetable.room_timetable_at(date, room.room_id).session_at(s)}
              - rk_sessions.each_with_index do |rk_session, index|
                - next if index != 0 && rk_sessions[index - 1] == rk_session
                - count = rk_sessions.select {|ses| ses == rk_session }.count

                - klass = (!rk_session || rk_session.empty?) ? "not-applicable" : "session"
                %td{:colspan => count, :class => klass}
                  - (events = rk_session.events).each do |event|
                    - if event.language.present?
                      %p{:class => "language " + event.language}= event.language[0,2].upcase
                    %h3
                      - unless event.hide_link
                        %a.tip{:href => schedule_details_path(:id => event._id)}
                          = event.localize(I18n.locale, :title)
                          - if abstract = event.localize(I18n.locale, :abstract)
                            %span= abstract
                      - else
                        = event.localize(I18n.locale, :title)
                    - if event.presenters
                      - event.presenters.each do |presenter|
                        %ul.presenter
                          %li
                            - if presenter['gravatar'].present?
                              = gravatar_tag(presenter['gravatar'], :size => 24)
                            - else
                              %img{:src => '/images/bow_face.png', :width => 24, :height => 24}
                            = RubyKaigi2011::Localizer.value_for_locale(I18n.locale, presenter["name"])
                      - unless event.hide_link
                        .right.btnDetails
                          %a{:href => schedule_details_path(:id => event._id)}
                            %img{:alt => "Details", :src => "/2011/images/commonBtnDetails.png"}
      != render :partial => 'shared/2011/back_to_top'
  != render :partial => 'shared/2011/sponsors_list'
  != render :partial => 'shared/2011/back_to_top'
