- @title = @event.localize(I18n.locale, :title)
- content_for :meta_top do
  != render :partial => 'shared/2011/facebook_meta'
#content
  %h1
    = @title
  %article
    %h2
      %time{:datetime => @session.start.strftime("%Y-%m-%d") }
        = l @session.start.to_date, :format => :long
        = [:start, :end].map{|t| @session.send(t).strftime("%H:%M") }.join("-")
        (#{@room.localize(I18n.locale, :name)})
    #abstract
      %h3
        #{t(:abstract)}
      %p
        = @event.localize(I18n.locale, :abstract)
      != render :partial => 'shared/2011/facebook'
      != render :partial => 'shared/2011/twitter'
    - if @event.presenter
      #speaker
        %h3
          #{t(:speaker)}
        %div.avatar
          %a{:href => "#", :target => "_blank"}
            %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
          %h4
            = @event.localize(I18n.locale, :presenter, :name)
          %p
            = @event.localize(I18n.locale, :presenter, :bio)
    %h3.cboth
      #{t(:presentation_material)}
    %p -
  != render :partial => 'shared/2011/back_to_top'

