- @title = t(:advent_calendar)
- content_for :head do
  %link{:href => "/2011/stylesheets/advent.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:rel => "alternate", :type => "application/xml", :title => @title, :href => advent_index_path(params[:year], current_locale, :rdf)}

#content
  %h1
    #{@title}
  %article
    #other_formats
      = link_to "iCal", advent_index_url(params[:year], current_locale, :ics, :protocol => "webcal")
      = link_to "JSON", advent_index_path(params[:year], current_locale, :json), :target => "_blank"
      = link_to "RSS",  advent_index_path(params[:year], current_locale, :rdf), :target => "_blank"

    #advent_events
      - AdventEvent.by_month.each do |month, events|
        %h2= l month, :format => :month
        %ul
          - events.each do |event|
            %li{:id => event.id, :class => event.today? ? "todays_event" : ""}
              .summary= link_to event.name, "##{event.id}"
              .time #{l(event.dtstart, :format => :short)} 〜 #{l(event.dtend, :format => :short)}
              .location!= auto_link event.location, :all, :target => "_blank"
              .description!= auto_link event.description, :all, :target => "_blank"
  != render :partial => "shared/2011/back_to_top"

  %article
    %h2
      %a{:name => "about"}
        #{t(:advent_about)}
    %p 今年は会場の制約もあって、昨年の「企画」のような中規模の催しを会期中に会場で実施することにはあまり期待できません。具体的には「Head First ふつうのシステム開発」や「JRuby会議2010」、「Ruby powering 9 million dining tables」ぐらいの規模のイベントのための適切な場所を確保できません。
    %p これに対応するために、RubyKaigi 2011 の会期の前に Ruby 関連イベントを独自に開催してもらって、連続協賛イベントみたいな試みをやれないかなあと思っています。例えるなら、12月にクリスマスを楽しみに待つためにプログラミング Tips を連ねる Advent Calendar があるように、7月に「最後のRubyKaigi」を楽しみに待つための「RubyKaigi Advent Calender」を用意できるといいなと考えています。 ……といっても現時点では「考えています」というレベルでしかりません。こういう取り組みに興味のある Ruby コミュニティや企業さま、有志がいらっしゃいましたら、お気軽に 2011 at rubykaigi dot org までメールで お問い合わせください。
    %p 時期が時期なので、日本 Ruby 会議 2011 実行委員会が具体的なイベントの準備や 運営に人的リソースを割くのは難しいと思います( Ustream.tv で中継したいから KaigiFreaks 来てくれ、と言われても困りそう)が、rubykaigi.org での告知や、 コンテンツをどうするかといった準備段階での相談や連携には可能な限り協力していきたいと思っています。たとえば、JRubyKaigi2011 を7月のどこかで開催するとか、ジュンク堂書店池袋本店で Ruby 関連書籍のトークセッションがあるとか、7/12(火)の Asakusa.rb の定例 meetup を RubyKaigi 直前特集拡大版みたいなのにするとか、そういうのが実現したらいいなあ、ということを漠然と考えています。
    %p 繰り返しになりますが、RubyKaigi Advent Calendar の実現に興味のある方がいらっしゃいましたら、是非ぜひお気軽に 2011 at rubykaigi dot org までメー ルにてご連絡いただけると助かります。協賛開催してくれるイベントが無ければ実現できない企画なので、こちらも皆さんのお力を借りたいと思っています。
  != render :partial => 'shared/2011/back_to_top'

