- @title = "RubyKaigi#{params[:year]} Advent Calendar"
-content_for :head do
  :css
    ul#advent_events {
      border: 2px solid #000;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #advent_events li {
      background: #CCC;
      margin: 2px;
      padding: 0.2em;
    }

    #advent_events li.todays_event {
      background: #F00;
    }

    li .summary {
    }

    li .time {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }

    li .location {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }

    li .description {
      font-size: 0.8em;
      margin: 0 0 0 1em;
    }

    #other_formats {
      text-align: right;
    }

#content
  %h1
    RubyKaigi#{params[:year]} Advent Calendar
  #other_formats
    = link_to "iCal", advent_index_path(params[:year], params[:locale], :ics), :target => "_blank"
    = link_to "JSON", advent_index_path(params[:year], params[:locale], :json), :target => "_blank"
  %ul#advent_events
    - @events.each do |event|
      %li{:class => todays_event?(event) ? "todays_event" : ""}
        .summary= event.summary
        .time #{localtime(event.dtstart).strftime("%Y/%m/%d %H:%M")} 〜 #{localtime(event.dtend).strftime("%Y/%m/%d %H:%M")}
        .location!= auto_link event.location, :all, :target => "_blank"
        .description!= auto_link event.description, :all, :target => "_blank"


