- @title = "RubyKaigi#{params[:year]} Advent Calendar"
-content_for :head do
  %link{:rel => "alternate", :type => "application/xml", :title => @title, :href => advent_index_path(params[:year], params[:locale], :rdf)}
  %link{:href => "/2011/stylesheets/advent.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

#content
  %h1
    RubyKaigi#{params[:year]} Advent Calendar

  #other_formats
    = link_to "iCal", advent_index_url(params[:year], params[:locale], :ics, :protocol => "webcal")
    = link_to "JSON", advent_index_path(params[:year], params[:locale], :json), :target => "_blank"
    = link_to "RSS",  advent_index_path(params[:year], params[:locale], :rdf), :target => "_blank"

  #advent_events
    - events_by_month(AdventEvent.all).each do |month, events|
      %h2= l month, :format => :month
      %ul
        - events.each do |event|
          %li{:id => event.id, :class => todays_event?(event) ? "todays_event" : ""}
            .summary= link_to event.name, "##{event.id}"
            .time #{l(event.dtstart, :format => :short)} 〜 #{l(event.dtend, :format => :short)}
            .location!= auto_link event.location, :all, :target => "_blank"
            .description!= auto_link event.description, :all, :target => "_blank"

      != render :partial => "shared/2011/back_to_top"

