%h3 RubyKaigi2011 Sponsorship program
%p
  RubyKaigi2011 Sponsorship program was closed. Thank you for your co-operation.
%h3 Individual Sponsorship Program for RubyKaigi 2011
%p
  For RubyKaigi 2011, we are calling for individual sponsors. We'd be happy if you helped to support RubyKaigi 2011 through the individual sponsorship program.
%br
%p #{t(:individual_sponsor_program_detail)}:
%ul.listMark
  %li= t(:about_donation)
  %li= t(:about_payment)
%br
%p #{t(:individual_sponsor_program_benefits)}:
%ul.listMark
  %li= t(:individual_sponsor_program_benefit_1)
  %li= t(:individual_sponsor_program_benefit_2)
  %li= t(:individual_sponsor_program_benefit_3)
%section.registration
  %h3 Become a indivisual sponsor
  %p.btn
    %a{:href => "/2011/#{current_locale}/registration#individual_sponsor"}
      %img{:alt => "#{t(:sponsors_registration_individual)}", :src => "/2011/images/sponsorsBtnBecomeAIndividualSponsor.png"}
%p.cboth
  For RubyKaigi 2011, we are calling for individual sponsors. We'd be happy if you helped to support RubyKaigi 2011 through the individual sponsorship program.
