- @title = t(:about)
#content
  %h1
    #{t(:about)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/about#diary"}
          #{t(:rubykaigi_nikki)}
      %li
        %a{:href => "/2011/#{current_locale}/about#prospectus"}
          #{t(:rubykaigi2011)} #{t(:prospectus)}
      %li
        %a{:href => "/2011/#{current_locale}/about#press"}
          #{t(:press)}
      -#%li
      -#  %a{:href => "/2011/#{current_locale}/about#team"}
      -#  #{t(:rubykaigi2011)} #{t(:team)}
      %li
        %a{:href => "/2011/#{current_locale}/about#photographers"}
          #{t(:photographers)}
  #main
    %article#diary
      %h2
        %a{:name => "diary"}
          #{t(:rubykaigi_nikki)}
      %p #{t(:about_rubykaigi_nikki)}
      %p.rss
        != render :partial => 'shared/2011/rss_btn'
      %p.btn
        %a{:href => "http://rubykaigi.tdiary.net/"}
          %img{:alt => "#{t(:rubykaigi_nikki)}", :src => "/2011/images/aboutBtnBlog.png"}
    != render :partial => 'shared/2011/back_to_top'
    %article
      %h2
        %a{:name => "prospectus"}
          #{t(:rubykaigi2011)} #{t(:prospectus)}
      != render :partial => 'pages/2011/prospectus'
    != render :partial => 'shared/2011/back_to_top'
    %article
      %h2
        %a{:name => "press"}
          #{t(:press)}
      %p メディア・報道関係者向けに日本Ruby会議2011についての情報をお伝えするメーリングリストを用意しました。
      %p 取材についての情報や来場案内などもこちらでお伝えいたしますので、日本Ruby会議2011にご興味のあるメディア・報道関係の方は是非ご参加下さい。
      %h3 メーリングリストへの登録方法
      %p qwikを用いておりますので、下記要領でメールを送信してください。
      %div.mailPlease
        %ul.listMark
          %li To： rk11press _at_ qwik.atdot.net
          %li Cc： snoozer.05 _at_ rubykaigi.org
          %li 件名： Join the list
          %li
            本文：
            %br
            RubyKaigi2011のメディア・報道社向けメーリングリストに参加します。
            %br
            所属： (ご自身の所属組織）
            %br
            お名前： (ご自身のお名前）
      %p ※ メールアドレス中の_at_は@に読み替えてください。
      %h3
        #{t(:inquiry)}
      %p 何か不明な点があれば、2011_at_rubykaigi.org までお気軽にお問い合わせください。
    != render :partial => 'shared/2011/back_to_top'
    -#= render :partial => 'shared/2011/team'
    %article#photographers
      %h2
        %a{:name => "photographers"}
          #{t(:photographers)}
      %p
        kakutani
        %br
        %a{:href => "http://www.flickr.com/photos/kakutani", :target => "_blank"}
          %img{:alt => "kakutani", :src => "http://www.gravatar.com/avatar/63a6bff89d692e21de20868202bc8dde?s=32"}
      %p
        snoozer05
        %br
        %a{:href => "http://www.flickr.com/photos/snoozer/", :target => "_blank"}
          %img{:alt => "", :src => "http://www.gravatar.com/avatar/941b170e5a115a295cccb5f5cdf0a800?s=32"}
      %p
        tmaeda_japan
        %br
        %a{:href => "http://www.flickr.com/photos/tmaedax/", :target => "_blank"}
          %img{:alt => "", :src => "http://www.gravatar.com/avatar/f482a467d8202cf35b3aa7df192d3efb?s=32"}
      %p
        Naoto Takai
        %br
        %a{:href => "http://www.flickr.com/photos/recompile_net/", :target => "_blank"}
          %img{:alt => "", :src => "http://www.gravatar.com/avatar/cf7b553387b247d737c60cfceabb2cea?s=32"}
    != render :partial => 'shared/2011/back_to_top'
