- @title = t(:about)
#content
  %h1
    #{t(:about)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/about#diary"}
          #{t(:rubykaigi_nikki)}
      %li
        %a{:href => "/2011/#{current_locale}/about#prospectus"}
          #{t(:prospectus)}
      -#       %li
      -#         %a{:href => "/2011/#{current_locale}/about#team"}
      -#           #{t(:rubykaigi2011)} #{t(:team)}
      %li
        %a{:href => "/2011/#{current_locale}/about#photographers"}
          #{t(:photographers)}
  #main
    %article#diary
      %h2
        %a{:name => "diary"}
          #{t(:rubykaigi_nikki)}
      %p Here's RubyKaigi Nikki, our latest news blog. 'Nikkei' means 'diary' in Japanese :)
      %p.rss
        != render :partial => 'shared/2011/rss'
      %p.btn
        %a{:href => "http://rubykaigi.tdiary.net/"}
          %img{:alt => "#{t(:rubykaigi_nikki)}", :src => "/2011/images/aboutBtnBlog.png"}
    != render :partial => 'shared/2011/back_to_top'
    %article
      %h2
        %a{:name => "prospectus"}
          #{t(:prospectus)}
      != render :partial => 'pages/2011/prospectus'
    != render :partial => 'shared/2011/back_to_top'
    -# render :partial => 'shared/2011/team'
    %article#photographers
      %h2
        %a{:name => "photographers"}
          #{t(:photographers)}
      %p
        kakutani
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "kakutani", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/kakutani", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        snoozer05
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/snoozer/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        tmaeda_japan
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/tmaedax/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        Naoto Takai
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/recompile_net/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
    != render :partial => 'shared/2011/back_to_top'
