- @title = t(:about)
#content
  %h1
    #{t(:about)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/about#diary"}
          #{t(:rubykaigi_nikki)}
      %li
        %a{:href => "/2011/#{current_locale}/about#prospectus"}
          #{t(:prospectus)}
      %li
        %a{:href => "/2011/#{current_locale}/about#team"}
          #{t(:team)}
      %li
        %a{:href => "/2011/#{current_locale}/about#photographers"}
          #{t(:photographers)}
  #main
    %article#diary
      %h2
        %a{:name => "diary"}
          #{t(:rubykaigi_nikki)}
      %p 日本Ruby会議に関する最新の情報はRubyKaigi日記より配信しております。
      %p.rss
        != render :partial => 'shared/2011/rss'
      %p.btn
        %a{:href => "http://rubykaigi.tdiary.net/"}
          %img{:alt => "#{t(:rubykaigi_nikki)}", :src => "/2011/images/aboutBtnBlog.png"}
    != render :partial => 'shared/2011/back_to_top'
    %article
      %h2
        %a{:name => "prospectus"}
          #{t(:prospectus)}
      != render :partial => 'pages/2011/prospectus'
    != render :partial => 'shared/2011/back_to_top'
    %article#team
      %h2
        %a{:name => "team"}
          #{t(:team)}
      %h3 Chairman
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Masayoshi TAKAHASHI
          %br
          (Nihon Ruby-no-Kai, Chairman / tatsu-zine.com)
      %h3 Vice Chairman
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Shintaro KAKUTANI
          %br
          (Nihon Ruby-no-Kai || Eiwa System Management)
      %h3 Chief of Operations
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Koji SHIMADA
          %br
          (Nihon Ruby-no-Kai / Enishi Tech)
      %h3 Program Chair
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Koichi SASADA
          %br
          (Nihon Ruby-no-Kai, The University of Tokyo)
      %h3 Sponsor Liason
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Ayumu AIZAWA
          %br
          (Nihon Ruby-no-Kai, Akasaka.rb)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Shugo MAEDA
          %br
          (Ruby Association / Network Applied Communication Laboratory)
      %h3 Organizers
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Shin'ya ADZUMI
          %br
          (Nihon Ruby-no-Kai)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Miho SUZUKI
          %br
          (@adzuki34)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Leonard Chin
          %br
          (Nihon Ruby-no-Kai)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Kyosuke MOROHASHI
          %br
          (Rails Tokyo || Eiwa System Management)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Yohji SHIDARA
          %br
          (Ruby Sapporo / Enishi Tech)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Jun OHWADA
          %br
          (Ruby Sapporo, Scigineer)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Kei SHIRATSUCHI
          %br
          (Ruby Sapporo, Scigineer)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Naoto TAKAI
          %br
          (Akasaka.rb)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Toshiaki KOSHIBA
          %br
          (EC Navi, 4038nullpointer.com)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Sunao TANABE
          %br
          (Nihon Ruby-no-kai)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Eito KATAGIRI
          %br
          (Ruby Tokai)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Tasuo SAKURAI
          %br
          (Everyleaf)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Tadashi SAITO
          %br
          ()
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Shyouhei URABE
          %br
          ()
      %h3 i18n
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Adam AKHTAR
          %br
          (@robodisco)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Paul Mcmahon
          %br
          (@pwim)
      %h3 Designer
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Mayuco Sekiya
          %br
          (@mayuco)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Norio
          %br
          (Ibaraki Ruby-no-kai)
      %h3 KaigiFreaks::ReportTeam
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Mitsutaka MIMURA
          %br
          (Eiwa System Management, asakusa.rb)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Masanori SUGAWARA
          %br
          (@sugamasao)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Yuki AKAMATSU
          %br
          (ukstudio)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Yutaro SUGAI
          %br
          (@hokkai7go)
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Noriyuki Komatsuzaki
          %br
          (@oshow)
      %h3 KaigiFreaks::NetworkTeam
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Hidekazu KOIWA
          %br
          (@koiwa)
      %h3 KaigiFreaks::RecordingTeam
      %div.avatar
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %p
          Ippei Ogiwara
          %br
          (@iogi)
      %h3 Staff
      != render :partial => 'shared/2011/staffs'
      %h3 rubykaigi.org
      %ul.listMark
        %li
          %a{:href => "http://github.com/ruby-no-kai/rubykaigi/contributors"} http://github.com/ruby-no-kai/rubykaigi/contributors
    != render :partial => 'shared/2011/back_to_top'
    %article#photographers
      %h2
        %a{:name => "photographers"}
          #{t(:photographers)}
      %p
        kakutani
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "kakutani", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/kakutani", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        snoozer05
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/snoozer/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        tmaeda_japan
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/tmaedax/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
      %p
        Naoto Takai
        %br
        %a{:href => "#", :target => "_blank"}
          %img{:alt => "", :src => "/2011/images/commonAvatar.png"}
        %a{:href => "http://www.flickr.com/photos/recompile_net/", :target => "_blank"}
          %img{:alt => "Flickr", :src => "/2011/images/commonFlickr.png"}
    != render :partial => 'shared/2011/back_to_top'

