- @title = t(:archives)
#content
  %h1
    #{t(:archives)}
  %article
    %p
      日本Ruby会議は2006年より....
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    %p
      地域Ruby会議とは....
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      %br
      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    %div
      %h2
        #{t(:rubykaigi)}2010
      %p
        %a{:href => "http://rubykaigi.org/2010/#{current_locale}", :target => "_blank"}
          %img{:alt => "#{t(:rubykaigi)}2010", :src => "/2011/images/rubykaigi2010.png"}/
    %div
      %h2
        #{t(:rubykaigi)}2009
      %p
        %a{:href => "http://rubykaigi.org/2009/#{current_locale}", :target => "_blank"}
          %img{:alt => "#{t(:rubykaigi)}2009", :src => "/2011/images/rubykaigi2009.png"}/
    %div
      %h2
        #{t(:rubykaigi)}2008
      %p
        %a{:href => "http://jp.rubyist.net/RubyKaigi2008/", :target => "_blank"}
          %img{:alt => "#{t(:rubykaigi)}2008", :src => "/2011/images/rubykaigi2008.png"}/
    %div
      %h2
        #{t(:rubykaigi)}2007
      %p
        %a{:href => "http://jp.rubyist.net/RubyKaigi2007/", :target => "_blank"}
          %img{:alt => "#{t(:rubykaigi)}2007", :src => "/2011/images/rubykaigi2007.png"}/
    %div
      %h2
        #{t(:rubykaigi)}2006
      %p
        %a{:href => "http://jp.rubyist.net/RubyKaigi2006/", :target => "_blank"}
          %img{:alt => "#{t(:rubykaigi)}2006", :src => "/2011/images/rubykaigi2006.png"}/
    %div
      %h2
        #{t(:regional_rubykaigi)}
      %p
        %a{:href => "http://regional.rubykaigi.org/", :target => "_blank"}
          %img{:alt => "#{t(:regional_rubykaigi)}", :src => "/2011/images/rubykaigiRegional.png"}/
  != render :partial => 'shared/2011/back_to_top'
