- @title = t(:for_attendees)
#content
  %h1
    #{t(:for_attendees)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#schedule"}
          #{t(:schedule)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#live"}
          #{t(:live)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#access"}
          #{t(:access)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#hotel_and_travel"}
          #{t(:hotel_and_travel)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#floor_guide"}
          #{t(:floor_guide)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#advent"}
          #{t(:advent)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#community"}
          #{t(:community)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#faq"}
          FAQ
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#goodies"}
          #{t(:goodies)}
  #main
    %article#schedule
      %h2
        %a{:name => "schedule"}
          #{t(:schedule)}
      %p.btn
        -#%a{:href => "/2011/#{current_locale}/schedule/grid"}
        %a{:href => "/2011/#{current_locale}/coming_soon"}
          %img{:alt => "Schedule", :height => "40", :src => "/2011/images/indexBtnSchedule.png", :width => "320", :height => "40"}
    != render :partial => 'shared/2011/back_to_top'
    %article#live
      %h2
        %a{:name => "live"}
          #{t(:live)}
      %p We'll make live streaming Ruby Kaigi 2011 on ustream.tv.
      %ul.listMark
        %li Recorded videos will be published later (TBA).
        %li This program is brought you to by KaigiFreaks.
      %p.linkMarka
        #{t(:hall_main)}:
        %a{:href => "/2011/#{current_locale}/coming_soon"} Ustream
        |
        %a{:href => "/2011/#{current_locale}/coming_soon"} IRC
      %p.linkMark
        #{t(:hall_sub)}:
        %a{:href => "/2011/#{current_locale}/coming_soon"} Ustream
        |
        %a{:href => "/2011/#{current_locale}/coming_soon"} IRC
    != render :partial => 'shared/2011/back_to_top'
    %article#access
      %h2
        %a{:name => "access"}
          #{t(:access)}
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'
    %article#hotel_and_travel
      %h2
        %a{:name => "hotel_and_travel"}
          #{t(:hotel_and_travel)}
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'
    %article#floor_guide
      %h2
        %a{:name => "floor_guide"}
          #{t(:floor_guide)}
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'
    %article#advent
      %h2
        %a{:name => "advent"}
          #{t(:advent)}
      %p.btn
        %a{:href => "/2011/#{current_locale}/advent_calendar"}
          %img{:alt => "Advent(アドベント)", :height => "40", :src => "/2011/images/indexBtnAdvent.png", :width => "320", :height => "40"}
    != render :partial => 'shared/2011/back_to_top'
    != render :partial => 'shared/2011/community'
    != render :partial => 'shared/2011/back_to_top'
    %article#faq
      %h2
        %a{:name => "faq"}
          FAQ
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'

    %article#goodies
      %h2
        %a{:name => "goodies"}
          #{t(:goodies)}
      %h3
        #{t(:official_logo)} 
      %p.fleft
        %a{:href => '/2011/goodies/official-logo-set.zip', :class => 'linkMark'} 
          Download(EPS and SVG)
      %p
        %img{:alt => "#{t(:official_logo)}", :src => '/2011/images/forAttendeesGoodiesLogoThumb.png'}
    != render :partial => 'shared/2011/back_to_top'
