- @title = t(:for_attendees)
#content
  %h1
    #{t(:for_attendees)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#schedule"}
          #{t(:schedule)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#live"}
          #{t(:live)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#access"}
          #{t(:access)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#hotel_and_travel"}
          #{t(:hotel_and_travel)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#floor_guide"}
          #{t(:floor_guide)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#advent"}
          #{t(:advent)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#community"}
          #{t(:community)}
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#faq"}
          FAQ
      %li
        %a{:href => "/2011/#{current_locale}/for_attendees#goodies"}
          #{t(:goodies)}
  #main
    %article#schedule
      %h2
        %a{:name => "schedule"}
          #{t(:schedule)}
      %p.btn
        -#%a{:href => "/2011/#{current_locale}/schedule/grid"}
        %a{:href => "/2011/#{current_locale}/coming_soon"}
          %img{:alt => "Schedule", :height => "40", :src => "/2011/images/indexBtnSchedule.png", :width => "320", :height => "40"}
    != render :partial => 'shared/2011/back_to_top'
    %article#live
      %h2
        %a{:name => "live"}
          #{t(:live)}
      %p We'll make live streaming Ruby Kaigi 2011 on ustream.tv.
      %ul.listMark
        %li Recorded videos will be published later (TBA).
        %li This program is brought you to by KaigiFreaks.
      %p.linkMark
        #{t(:hall_main)}:
        %a{:href => "/2011/#{current_locale}/coming_soon"} Ustream
        |
        %a{:href => "/2011/#{current_locale}/coming_soon"} IRC
      %p.linkMark
        #{t(:hall_sub)}:
        %a{:href => "/2011/#{current_locale}/coming_soon"} Ustream
        |
        %a{:href => "/2011/#{current_locale}/coming_soon"} IRC
    != render :partial => 'shared/2011/back_to_top'
    %article#access
      %h2
        %a{:name => "access"}
          #{t(:access)}
      != render :partial => 'pages/2011/for_attendees_access'
    != render :partial => 'shared/2011/back_to_top'
    %article#hotel_and_travel
      %h2
        %a{:name => "hotel_and_travel"}
          #{t(:hotel_and_travel)}
      != render :partial => 'pages/2011/for_attendees_hotel_and_travel'
    != render :partial => 'shared/2011/back_to_top'
    %article#floor_guide
      %h2
        %a{:name => "floor_guide"}
          #{t(:floor_guide)}
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'
    %article#advent
      %h2
        %a{:name => "advent"}
          #{t(:advent)}
      %p.btn
        %a{:href => "/2011/#{current_locale}/advent_calendar"}
          %img{:alt => "Advent(アドベント)", :height => "40", :src => "/2011/images/indexBtnAdvent.png", :width => "320", :height => "40"}
    != render :partial => 'shared/2011/back_to_top'
    != render :partial => 'shared/2011/community'
    != render :partial => 'shared/2011/back_to_top'
    %article#faq
      %h2
        %a{:name => "faq"}
          FAQ
      %p Coming soon...
    != render :partial => 'shared/2011/back_to_top'

    %article#goodies
      %h2
        %a{:name => "goodies"}
          #{t(:goodies)}
      %h3
        #{t(:official_logo)} 
      .download
        %dl
          %dt
            %a{:href => "/2011/goodies/official-logo-set.zip"} 
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            EPS and SVG
        %p.author
          Author:norio,
          URL:
          %a{ :href => "http://twitter.com/norio", :target => "_blank"}> http://twitter.com/norio
          , License:
          %a{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :target => "_blank"}> CC-by-3.0
      %p
        %img{:alt => "#{t(:official_logo)}", :src => '/2011/images/forAttendeesGoodiesLogoThumb.png'}
      %h3
        #{t(:badges)}  (160x160)
      .download
        %dl
          %dt
            %a{:href => "/2011/goodies/badges/160x160attendee.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            ATTENDEE
          %dt
            %a{:href => "/2011/goodies/badges/160x160attendeeAway.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            ATTENDEE(AWAY)
          %dt
            %a{:href => "/2011/goodies/badges/160x160speaker.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            SPEAKER
          %dt
            %a{:href => "/2011/goodies/badges/160x160committer.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            COMMITTER
          %dt
            %a{:href => "/2011/goodies/badges/160x160individualSponsor.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            INDIVIDUAL SPONSOR
          %dt
            %a{:href => "/2011/goodies/badges/160x160sponsor.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            SPONSOR
          %dt
            %a{:href => "/2011/goodies/badges/160x160staff.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            STAFF
      %p
        %img{:alt => "#{t(:badges)}(160x160)", :src => '/2011/goodies/badges/160x160attendee.png'}
      %h3
        #{t(:badges)} (160x90)
      .download
        %dl
          %dt
            %a{:href => "/2011/goodies/badges/160x90attendee.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            ATTENDEE
          %dt
            %a{:href => "/2011/goodies/badges/160x90attendeeAway.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            ATTENDEE(AWAY)
          %dt
            %a{:href => "/2011/goodies/badges/160x90speaker.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            SPEAKER
          %dt
            %a{:href => "/2011/goodies/badges/160x90committer.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            COMMITTER
          %dt
            %a{:href => "/2011/goodies/badges/160x90individualSponsor.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            INDIVIDUAL SPONSOR
          %dt
            %a{:href => "/2011/goodies/badges/160x90sponsor.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            SPONSOR
          %dt
            %a{:href => "/2011/goodies/badges/160x90staff.png"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            STAFF
      %p
        %img{:alt => "#{t(:badges)}(160x90)", :src => '/2011/goodies/badges/160x90attendee.png'}
      %h3
        #{t(:wallpapers)}
      .download
        %dl
          %dt
            %a{:href => "/2011/goodies/wallpapers01/2560x1440.jpg"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            2560 x 1440
          %dt
            %a{:href => "/2011/goodies/wallpapers01/1920x1200.jpg"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            1920 x 1200
          %dt
            %a{:href => "/2011/goodies/wallpapers01/1600x1200.jpg"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            1600 x 1200
          %dt
            %a{:href => "/2011/goodies/wallpapers01/1440x900.jpg"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            1440 x 900
          %dt
            %a{:href => "/2011/goodies/wallpapers01/1024x1024.jpg"}
              %img{:src => "/2011/images/commonBtnDownload.png", :alt => "Download"}
          %dd
            1024 x 1024
      %p
        %img{:alt => "Wallpapers", :src => '/2011/goodies/wallpapers01/thumb.jpg'}
    != render :partial => 'shared/2011/back_to_top'
