- content_for :head do
  :javascript
    $(document).ready(function(){
    		$('#photos').galleryView({
    			panel_width: 640,
    			panel_height: 380,
    			transition_speed: 1500,
    			transition_interval: 5000,
    			nav_theme: 'circle',
    			show_filmstrip: false,
    			pause_on_hover: true
    		});
    });
%header
  %h1
    %img{:alt => "Date: July16(Sat) - 18(Mon),2011 Venue: Nerima Culture Center(Tokyo, Japan) Keynotes: Yukihiro \"Mats\" Matsumoto, Dave Thomas, Aaron Patterson(a.k.a. tenderlove)", :height => "100", :src => "/2011/images/indexDetails.png", :width => "980"}
  %section#photos
    %ul.galleryview
      %li
        %img{:alt => "#{t(:rubykaigi)}2006", :src => "/2011/photos/200601.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2006", :src => "/2011/photos/200602.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2007", :src => "/2011/photos/200701.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2007", :src => "/2011/photos/200702.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2008", :src => "/2011/photos/200801.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2008", :src => "/2011/photos/200802.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2009", :src => "/2011/photos/200901.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2009", :src => "/2011/photos/200902.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2010", :src => "/2011/photos/201001.png"}
      %li
        %img{:alt => "#{t(:rubykaigi)}2010", :src => "/2011/photos/201002.png"}
  %section#registration
    %p.btn
      %a{:href => "/2011/#{current_locale}/registration#individual_sponsor"}
        -#%img{:alt => "Registration (チケット購入)", :src => "/2011/images/registrationBtnTickets.png", :width => "320", :height => "90"}
        %img{:alt => "#{t(:sponsors_registration_individual)}", :src => "/2011/images/sponsorsBtnBecomeAIndividualSponsor.png"}
    -# %p.btn
    -#  -#%a{:href => "/2011/#{current_locale}/programs"}
    -#  %a{:href => "/2011/#{current_locale}/coming_soon"}
    -#    %img{:alt => "Programs(プログラム)", :height => "40", :src => "/2011/images/indexBtnPrograms.png", :width => "320", :height => "40"}
    -#%p.btn
    -#  %a{:href => "/2011/#{current_locale}/for_attendees#access"}
    -#    %img{:alt => "Access(アクセス)", :height => "40", :src => "/2011/images/indexBtnAccess.png", :width => "320", :height => "40"}
    -#%p.btn
    -#  %a{:href => "/2011/#{current_locale}/for_attendees#hotel_and_travel"}
    -#    %img{:alt => "Hotel&amp;Travel(宿泊のご案内)", :height => "40", :src => "/2011/images/indexBtnHotelAndTravel.png", :width => "320", :height => "40"}
    -#%p.btn
    -#  %a{:href => "/2011/#{current_locale}/advent"}
    -#    %img{:alt => "Advent(アドベント)", :height => "40", :src => "/2011/images/indexBtnAdvent.png", :width => "320", :height => "40"}
    -#%p.btn
    -#  %a{:href => "/2011/#{current_locale}/for_attendees#community"}
    -#    %img{:alt => "Community(コミュニティ)", :src => "/2011/images/indexBtnCommunity.png", :width => "320", :height => "40"}
#content
  %section#news
    != render 'shared/2011/news_section_on_index'
  %section#twitter
    %h2
      %img{:alt => "", :height => "35", :src => "/2011/images/indexTwitterHeader.png", :width => "250"}
    %article
      %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: '#rubykaigi',
          interval: 6000,
          title: 'Twitter #rubykaigi',
          subject: '',
          width: 'auto',
          height: 245,
          theme: {
            shell: {
              background: '#fff',
              color: '#160f0d'
            },
            tweets: {
              background: '#ffffff',
              color: '#160f0d',
              links: '#4f7280'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: false,
            behavior: 'default'
          }
        }).render().start();
  != render :partial => 'shared/2011/sponsors_list'
