- @title = t(:date_fri) + t(:hall_main)
#content
  %h1
    #{t(:programs)}
  %div
    %h2
      %time{:datetime => "2011-07-16"}
        #{t(:date_fri)} (#{t(:hall_main)})
    %ul.listMark
      %li
        %p 99:99-99:99
        %p
          %a{:href => "/2011/#{current_locale}/phone_programs_permalink"}
            title title title title
        %p speaker
      %li
        %p 99:99-99:99
        %p
          %a{:href => "/2011/#{current_locale}/phone_programs_permalink"}
            title title title title
        %p speaker
      %li
        %p 99:99-99:99
        %p
          %a{:href => "/2011/#{current_locale}/phone_programs_permalink"}
            title title title title
        %p speaker

