#content
  %h1
    %img{:alt => "Date: July16(Sat) - 18(Mon),2011 Venue: Nerima Culture Center(Tokyo, Japan) Keynotes: Yukihiro \"Mats\" Matsumoto, Dave Thomas, Aaron Patterson(a.k.a. tenderlove)", :height => "235", :src => "/2011/images/phoneDetails.png", :width => "300"}
  .section
    %p.btn
      %a{:href => "/2011/#{current_locale}/phone_registration"}
        %img{:alt => "Registration(チケット購入)", :src => "/2011/images/registrationBtnTickets.png"}
    %p.btn
      -#%a{:href => "/2011/#{current_locale}/schedule/grid"}
      %a{:href => "/2011/#{current_locale}/coming_soon"}
        %img{:alt => "Schedule", :src => "/2011/images/indexBtnSchedule.png", :width => "320", :height => "40"}
    %p.btn
      %a{:href => "/2011/#{current_locale}/phone_coming_soon"}
        %img{:alt => "Access(アクセス)", :src => "/2011/images/indexBtnAccess.png"}
    %p.btn
      %a{:href => "/2011/#{current_locale}/phone_coming_soon"}
        %img{:alt => "Hotel &amp; Travel(宿泊のご案内)", :src => "/2011/images/indexBtnHotelAndTravel.png"}
    %p.btn
      %a{:href => "/2011/#{current_locale}/phone_coming_soon", :target => "_blank"}
        %img{:alt => "Floor Guide(フロアガイド)", :src => "/2011/images/indexBtnFloorGuide.png"}
  #news
    %h2
      %img{:alt => "", :src => "/2011/images/indexNewsHeader.png"}
    %ul
      %li
        %time{:datetime => "2011-04-25"} 2011-04-25
        %a{:href => "http://rubykaigi.tdiary.net/20110425.html"} RubyKaigi2011の"当日"ボランティアスタッフの募集を開始します
      %li
        %time{:datetime => "2011-04-13"} 2011-04-13
        %a{:href => "http://rubykaigi.tdiary.net/20110413.html"} RubyKaigi planning memo for overseas
      %li
        %time{:datetime => "2011-04-02"} 2011-04-02
        %a{:href => "http://rubykaigi.tdiary.net/20110402.html"} RubyKaigi2011の開催に関する現状報告
      %li
        %time{:datetime => "2011-03-12"} 2011-03-12
        %a{:href => "http://rubykaigi.tdiary.net/20110312.html"} RubyKaigi2011スポンサーシップにまつわるFAQ
      %li
        %time{:datetime => "2011-03-08"} 2011-03-08
        %a{:href => "http://rubykaigi.tdiary.net/20110308.html"} 日本Ruby会議2011 CFP虎の巻
      %li
        %time{:datetime => "2011-02-21"} 2011-02-21
        %a{:href => "http://rubykaigi.tdiary.net/20110221.html"} 日本Ruby会議2011のスポンサーを募集します
    %p
      %a{:href => "#"}
        %img{:alt => "Read more...", :src => "/2011/images/commonReadMore.png"}
