#content
  %h1
    #{t(:programs)} 
  %div
    %h2
      %time{:datetime => "2011-07-16"}
        #{t(:date_fri)}
    %table
      %colgroup.hours
      %colgroup.hall
      %colgroup.hall
      %tr
        %th 時間
        %th 
          #{t(:hall_main)}
        %th 
          #{t(:hall_sub)}
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td{:colspan => "2"}
          %p Break time 
  != render :partial => 'shared/2011/back_to_top'
  %div
    %h2
      #{t(:date_sat)}
    %table
      %colgroup.hours
      %colgroup.hall
      %colgroup.hall
      %tr
        %th 時間
        %th 
          #{t(:hall_main)}
        %th 
          #{t(:hall_sub)}
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td{:colspan => "2"}
          %p Break time 
  != render :partial => 'shared/2011/back_to_top'
  %div
    %h2
      #{t(:date_sun)}
    %table
      %colgroup.hours
      %colgroup.hall
      %colgroup.hall
      %tr
        %th 時間
        %th 
          #{t(:hall_main)}
        %th 
          #{t(:hall_sub)}
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
        %td
          %h3
            %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
              title title title title title title title title title title title title title 
              %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
              %span xxxxxxxxxxxxxxxxxxxxxxxx
          %p speaker
      %tr
        %td
          99:99-99:99
        %td{:colspan => "2"}
          %p Break time 
  != render :partial => 'shared/2011/back_to_top'
  != render :partial => 'shared/2011/sponsors_list'
  != render :partial => 'shared/2011/back_to_top'
