- @title = t(:registration)
#content
  %h1
    #{t(:registration)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/registration#tickets"}
          #{t(:tickets)}
      %li
        %a{:href => "/2011/#{current_locale}/registration#party"}
          #{t(:official_party)}
      %li
        %a{:href => "/2011/#{current_locale}/registration#individual_sponsor"}
          #{t(:individual_sponsor)}
  #main
    %p{:style=>"margin-bottom:1em"}
      - unless authenticated?
        != render :partial => 'need_signin'
      - else
        != link_to 'Show Your Cart', carts_path
    != render :partial => 'shared/2011/registration_tickets'
    != render :partial => 'shared/2011/back_to_top'
    != render :partial => 'shared/2011/registration_party'
    != render :partial => 'shared/2011/back_to_top'
    != render :partial => 'shared/2011/registration_individual_sponsors'
    != render :partial => 'shared/2011/back_to_top'
