#content
  %h1
    #{t(:register)}
  %aside
    %ul
      %li
        %a{:href => "/2011/#{current_locale}/register#tickets"}
          #{t(:tickets)}
      %li
        %a{:href => "/2011/#{current_locale}/register#party"}
          #{t(:official_party)}
      %li
        %a{:href => "/2011/#{current_locale}/register#staffs"}
          #{t(:staffs)}
  #main
    != render :partial => 'shared/2011/tickets_en'
    != render :partial => 'shared/2011/back_to_top'
    != render :partial => 'shared/2011/party_en'
    != render :partial => 'shared/2011/back_to_top'
    %article#staffs
      %h2
        %a{:name => "staffs"}
          #{t(:staffs)}
      != render :partial => 'shared/2011/staffs'
    != render :partial => 'shared/2011/back_to_top'
