- @title = t(:individual_sponsor)
#content
  %h1
    #{t(:individual_sponsor)}
  %article
    - if ((sponsors = Contribution.individual_sponsors_of(2011)).present?)
      - sponsors.each do |sponsor|
        %div.avatar
          - img = img_tag_for_individual_sponsor(sponsor, 42)
          != link_to_if((!sponsor.anonymous? && sponsor.link_url.present?), raw(img), sponsor.link_url)
          - if !sponsor.anonymous? && sponsor.link_url.present?
            %p.linkMark
              != link_to(h(sponsor.link_label), sponsor.link_url)
          - else
            %p
              #{h(sponsor.link_label)}
        %hr
    - else
      %div.avatar
        (Not Yet)
      %hr
  != render :partial => 'shared/2011/back_to_top'
