#content
  %h1
    #{t(:sponsors)}
  != render :partial => 'shared/2011/sponsors_list'
  != render :partial => 'shared/2011/back_to_top'
  %article#sponsors_registration
    %h2
      %a{:name => "sponsors_registration"}
        #{t(:sponsors_registration)}
    != render :partial => 'pages/2011/call_for_sponsors'
  != render :partial => 'shared/2011/back_to_top'
