- @title = t(:platinum_sponsor)
#content
  %h1
    #{t(:platinum_sponsor)}
  - RubyKaigi2011::PlatinumSponsor.all.reject{|s| s.wanted }.each do |sponsor|
    %article
      %h2
        = sponsor.localize(I18n.locale, :name)
      %a{:name => sponsor._id}
        %img.logo{:alt => "Example Company, Ltd.", :src => "/2011/sponsors/#{sponsor._id}.png"}
      %div
        %p
          = sponsor.localize(I18n.locale, :pr)
        %p.right
          %a.linkMark{:href => "#{sponsor.url}", :target => "_blank"}
            = sponsor.url
    != render :partial => 'shared/2011/back_to_top'

