- @title = 'Gold Sponsors'
#content
  %h1
    #{t(:gold_sponsor)}

  - RubyKaigi2011::GoldSponsor.all.each do |sponsor|
    %article
      %h2
        = sponsor.name['en']
      %img.logo{:alt => "Example Company, Ltd.", :src => "/2011/sponsors/sponsorsGold.png"}
      %div
        %div
          %p
            = sponsor.pr['en']
          %p.right
            %a.linkMark{:href => "#{sponsor.url}", :target => "_blank"}
              = sponsor.url
    != render :partial => 'shared/2011/back_to_top'
