#content
  %h1
    #{t(:sponsors)}
  != render :partial => 'shared/2011/sponsors_list'
  != render :partial => 'shared/2011/back_to_top'
  %article#sponsors_register
    %h2 
      %a{:name => "sponsors_register"}
        #{t(:sponsors_register)}
    != render :partial => 'pages/2011/call_for_sponsors'
  != render :partial => 'shared/2011/back_to_top'

