#content
  %h1
    #{t(:programs)}
  - @timetable.days.each do |date|
    %div
      %h2
        %time{:datetime => date.strftime('%Y-%m-%d')}
          = l date
      %table
        %colgroup.hours
        %colgroup.hall
        %colgroup.hall
        %tr
          %th 時間
          - @rooms.each do |room|
            %th
              = room.name[I18n.locale.to_s]
        - @timetable.periods_on(date).each_cons(2) do |s, e|
          %tr
            %td
              = [s, e].map {|t| t.strftime("%H:%M") }.join(' - ')
            - rk_sessions = @rooms.map {|room| @timetable.room_timetable_at(date, room.room_id).session_at(s)}
            - rk_sessions.each_with_index do |rk_session, index|
              - next if index != 0 && rk_sessions[index - 1] == rk_session
              - count = rk_sessions.select {|ses| ses == rk_session }.count
              %td{:colspan => count}
                - if !rk_session || rk_session.empty?
                  = '-'
                - else
                  - (events = rk_session.events).each do |event|
                    %h3
                      %a.tip{:href => "/2011/#{current_locale}/programs_permalink"}
                        = event.localize(I18n.locale, :title)
                        %img.fright{:alt => "Permalink", :src => "/2011/images/commonBtnPermalink.png"}
                        %span
                          = event.localize(I18n.locale, :abstract)
                    %p
                      = event.localize(I18n.locale, :name)
    != render :partial => 'shared/2011/back_to_top'
