%article#party
  %h2
    %a{:name => "party"}
      #{t(:official_party)}
  %p #{t("official_party_description")}
  %ul.listMark
    %li When: July 17th(Sun) 20:00 - 22:00 (Door Open: 19:30)
    %li
      Venue:
      !=link_to 'Ikebukuro Sunshine city', 'http://maps.google.com/maps?q=35.729583,139.717778&ie=UTF8&ll=35.729583,139.717778&spn=0.008335,0.009785&z=17'
      58F SUNSHINE CRUISE CRUISE
    %li Capacity: ~400 people
    %li
      Price: <strong>#{number_with_delimiter(@party.unit_price)} JPY</strong>
      != stock_notification(@party)
    %li
      #{t(:we_will_not_refund)}
  != render :partial => 'add_to_cart', :locals => {:item => @party }
  %h3 #{t('student_discount_program')}
  %ul.listMark
    %li Student discounts <strong>are not available</strong> for the Conference Party.
