%article#individual_sponsor
  %h2
    %a{:name => "individual_sponsor"}
      #{t('product_item.rk11_individual_sponsor')}
  %ul.listMark
    %li
      #{t('individual_sponsor_detail')}:
      (
      != link_to 'English', 'http://rubykaigi.tdiary.net/20100524.html#p02'
      ),(
      != link_to '日本語', 'http://rubykaigi.tdiary.net/20100507.html#p02'
      )
    %li
      Price:
      <strong>#{number_with_delimiter(@individual_sponsor.unit_price)} JPY + #{t('additional_amount_label')}</strong>
      != stock_notification(@individual_sponsor)
    != render :partial => 'add_to_cart', :locals => {:item => @individual_sponsor }
