%article#tickets
  %h2
    %a{:name => "tickets"}
      #{t(:tickets)}
  %h3 3 day pass
  %ul.listMark
    %li
      When: July 16th(Sat) - 18th(Mon), 2011
    %li
      Venue: Nerima Culture Center(Tokyo, Japan)
    %li
      Capacity: ~1,000 people
    %li
      Price: <strong>#{number_with_delimiter(@kaigi.unit_price)} JPY</strong>
      != stock_notification(@kaigi)
    %li
      #{t(:we_will_not_refund)}
  != render :partial => 'add_to_cart', :locals => {:item => @kaigi }
  %h3
    #{t('free_admission_program_for_students')}:
  %ul.listMark
    %li
      #{t('instruction')}:
      != link_to 'English', 'http://rubykaigi.tdiary.net/20110521.html#p02'
      ,
      != link_to '日本語', 'http://rubykaigi.tdiary.net/20110521.html#p01'
    %li
      != link_to_if(true, t('free_admission_program_for_students_entry_form'), 'http://www.atdot.net/~ko1/file/rubykaigi/2011/students/upload')
  -#    -# (#{t("already_at_capacity")})
